<% if notice.present? %>
  <div class="flash-notice"><%= notice %></div>
<% end %>

<table class="links-table">
  <thead>
    <tr>
      <th>Short Link</th>
      <th>Destination</th>
      <th style="text-align: right">Visits</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td>
          <%= link_to "/#{link.short_name}", link_path(link.id), class: "short-link" %>
        </td>
        <td class="url">
          <%= link_to truncate(link.url, length: 60), link.url, title: link.url %>
        </td>
        <td class="visits">
          <%= number_with_delimiter link.clicks %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @links %>
